<!-- OFFCANVAS MENU -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas_menu" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav px-5 row">
            <li class="nav-item btn btn-light border mb-3 text-start">
                <i class="bi bi-info"></i>
                <span>Perfil</span>
                <!-- <a class="nav-link" aria-current="page" href="#">Perfil</a> -->
            </li>
            <li class="nav-item btn btn-light border mb-3 text-start">
                <i class="bi bi-info"></i>
                <span class="text-list-font">Contactenos</span>
            </li>
            <li class="nav-item btn btn-light border mb-3 text-start">
                <i class="bi bi-info"></i>
                <span class="text-list-font">Salir</span>
            </li>
        </ul>
    </div>
</div>