<!-- HEADER -->
<header class="nav nav-navbar border-bottom d-flex flex-row justify-content-between bg-body-tertiary shadow">
    <div class="user_perfil border">
        <div class="row">
            <div class="col-1 z-1">
                <img class="user_img my-3 ms-3" src="img/logo2.png" width="50" height="50" alt="Logo_PumasD.C.">
            </div>
            <div class="col-11">
                <div class="nav text-start">
                    <label class="user_name my-4 px-5 py-1" for="">Admin Admin</label>
                </div>
            </div>
        </div>
    </div>
    <nav class="col-1 my-3">
        <button class="btn btn-light border border-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_manu" aria-controls="offcanvasRight">
            <i class="bi bi-menu-button me-2"></i>
            Menu
        </button>
    </nav>
</header>